doctype 5
html(ng-app="senses")
	head
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js")
		script.
			'use strict';
			var senses = angular.module('senses', ['ngResource']).
				factory('sensors',function($resource){
					return $resource('/sensors',{},{
						query:{method:'GET',params:{},isArray:true}
					});
				});
			
			senses.config(['$httpProvider', function($httpProvider) {
				$httpProvider.defaults.useXDomain = true;
				delete $httpProvider.defaults.headers.common['X-Requested-With'];
			}
			]);
			function sensCtrl($scope,$http){
				
				$scope.numSensors = function(){
					$http.get("/sensors/num").success(function(data){
						$scope.num = data;
					});
					return $scope.num;
				}
				$scope.num = $scope.numSensors();
				
				$scope.sensors = [];
				
				$scope.getSensors = function(){
						$http.get("/sensors").success(function(data){
							$scope.sensors = data;
							console.log(data[0]);
						});
				}
				$scope.getSensors();
			}
	body(ng-controller="sensCtrl")
		p Hello, {{num}} sensors active
		br/
		ul
			li(ng-repeat="sensor in sensors")
				p Sensor name: {{sensor.city}}
				p Value: {{sensor.val}}
