doctype 5
html(ng-app="myApp")
	head
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
		script.
			'use strict';
			
			var myApp = angular.module('myApp', []);
			myApp.config(['$httpProvider', function($httpProvider) {
				$httpProvider.defaults.useXDomain = true;
				delete $httpProvider.defaults.headers.common['X-Requested-With'];
			}
			]);
			/*Controllers*/
			function MyCtrl($scope, $http) {
				$scope.num = function(){
					var url = "/sensors/num";
					$http.get(url).success(function(data){
						$scope.number = data;
					});
				}
				$scope.num();
			}
		


	body(ng-controller="MyCtrl")

		br/
		label Name:
		input(type='text')(ng-model="yourName")(placeholder="Enter name")
		br/
		h2 Hello, {{yourName}}!
		br/
		br/
		{{number}} sensors active
			
		
